@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*model IEnumerable<401ECommerceSite.Models.Service.InventoryManagement>*@
@{
    Layout = "_Layout";
}
<!Doctype html>
<title>Welcome!</title>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Styles/StyleSheet.css">
    <link rel="stylesheet" href="~/IndexStyleSheet.css" />
</head>
<body>
    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Wellness Chiropractic</h1>
                    <p class="lead">Bringing Spine Care To You</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div id="mainContent">
            <!-- Page Content -->
            <section class="py-5">
                <div class="container">
                    <h2 class="font-weight-light">A New Way to Keep Care Going!</h2>
                    <br />
                    <p>While our office is still closed, we have found a way to serve you, our dear clients, during these uncertain times. While we are glad you are doing your best to maintain social distancing, many of you are working from home at work stations that were never set up ergonomically or for extended daily use. We have received calls and emails from many of you wanting to schedule an appointment while our office is closed.</p>
                    <p>For some of you, you're missing your regular adjustments. For others, working from home is taking its toll and you are in need of care.</p>
                    <p>We understand these uncertain times can be stressful and that can also increase tension and pain. Please know we are here to help!</p>
                    <p>Beginning April 1st, we will be scheduling house calls.</p>
                </div>
            </section>

            <section id="hero">
                <img src="~/Styles/Assets/HeroImageForHomepage.jpg" />
            </section>

            <section class="py-5">
                <div class="container">
                    <h2 class="font-weight-light">Our Policies for Home Care Visits</h2>
                    <br />
                    <p>Our home care scheduling and visits will work a little bit differently than when you visit us in our clinic (when we reopen our space). We have disabled our online scheduling tool, as travel time between clients varies and its easier to schedule by phone or email. You will receive a phone call and email to schedule your home visit within 24 hours of purchasing a service.</p>

                    <p>Dr. Smith and/or Kelsey will arrive with a sanitized portable treatment table and wear personal protective equipment while performing your treatment. Following the visit, you will receive a receipt containing all necessary medical billing CPT codes so you may seek reimbursement from your insurance, should you choose to do so. </p>

                    <p>We look forward to serving your needs and keeping your spine healthy!</p>
                    <div class="row">
                        <div class="col-sm-9 offset-sm-3">
                            <a href="/Store/Store"><button class="btn btn-light">Our Services</button></a>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <aside id="bios" style="margin-bottom: 80px">
            <div class="side" style="margin-top:30px">
                <div class="container" style="margin-top:30px">

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="~/Styles/Assets/ChiropractorHeadshotForBio.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Samuel Wallace, DC</h5>
                            <p class="card-text">Dr. Sam received his Chiropractic degree from New York Chiropractic college in 2001. As a Seattle native, he could think of no better place to open his practice than the place he called home. Dr. Sam enjoys treating all spine conditions and sees patients of all ages. When he's not providing care for patients, he enjoys mountain biking, backcountry skiing and all the Pacific Northwest has to offer.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container" style="margin-top:30px" >

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Styles/Assets/MassageTherapistBioImage.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Kelsey Hammond, LMP</h5>
                        <p class="card-text">Kelsey Hammond, Licensed Massage Practitioner was in school to become a Physician Assistant when she discovered her gift of human touch. Her knowledge of anatomy and the human body makes her one of the best therapists in the area for Orthopedic Massage. Kelsey is skilled in Shiatzu, Swedish and specific trigger point therapy. When she is not treating patients, she enjoys volunteering at the local animal shelter and caring for her three dogs at home.</p>
                    </div>
                </div>

            </div>


    </aside>
    
  
    </main>
</body>