@page
@model ECommerceApp.Pages.Store.StoreModel
@{
    ViewData["Title"] = "Store";
    Layout = "_Layout";
}
<!Doctype html>
<title>Services page</title>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Styles/StoreStyleSheet.css">
</head>

<body style="margin-top:130px">
    <h2 style="text-align:center;">Chiropractic & Massage Therapy Services Available</h2>
    <section class="row justify-content-center" style="margin-top:50px">
        @*Bootstrap from google*@
        @foreach (var service in Model.Services)
        {
            <article class="col-lg-4 p-3" style="align-content:center;">
                <div class="backgroundLogo">
                    <div class="row" id="serviceCard" style="text-align:center;">
                        <div class="col-lg-4 col-sm-6 mb-4" style="max-width: 85%; margin-left: auto; margin-right: auto;">
                            <div class="card h-100" >
                                <a href="/product/details/@service.ID"><img class="card-img-top" src=@service.Image alt="" width="200" height="300" ></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="/product/details/@service.ID">@service.ServiceType</a>
                                    </h4>
                                    <a href="/product/details/@service.ID" type="button" class="btn btn-primary">Show Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        }
    </section>
</body>
</html>