@model IList<ECommerceApp.Models.CartItems>

<h1>Items In Your Cart</h1>


@foreach (var item in Model)
{
    <p>@item.Services.ServiceType</p>
    
    <p><img src=@item.Services.Image alt="" width="150" height="210"></p>
    <p>@item.Services.Price</p>
    <hr />
}


@*then in Index.html (make sure you specificy your component class)
    @await Component.InvokeAsync("MiniBasket")*@ 