@page
@model ECommerceApp.Pages.Admin.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<!Doctype html>
<body>
    <div style="margin-bottom: 115px">
    <h1 style="margin: 50px; margin-top:100px; margin-bottom:100px;">Welcome to the Admin Dashboard</h1>

    <section id="hero" style="text-align: center" style="margin-top: 50px">
        <img src="/Styles/Assets/InitialEvaluation.jpg" width="500" height="300" />
    </section>

    <section class="row justify-content-center" style="margin-top:50px">
        <div class="row">
            <div class="col-sm-9 offset-sm-3">
                <a href="/Admin/ManageServices"><button class="btn btn-light">Manage Services</button></a>
            </div>
        </div>
    </section>

    <section class="row justify-content-center" style="margin-top:50px">
        <div class="row">
            <div class="col-sm-9 offset-sm-3">
                <a href="/Admin/Orders"><button class="btn btn-light">Manage Orders</button></a>
            </div>
        </div>
    </section>

    @*<section class="row justify-content-center" style="margin-top:50px">
        <div class="row">
            <div class="col-sm-9 offset-sm-3">
                <a href="/Admin/ManageServices"><button class="btn btn-light">Manage Users</button></a>
            </div>
        </div>
    </section>*@
</div>
</body>