@page
@model ECommerceApp.Pages.Admin.OrdersModel
@{
    ViewData["Title"] = "Orders";
    Layout = "_Layout";
}

<!Doctype html>
<html>

<body>

<h1>Orders</h1>
    <div class="container" style="margin-top:30px">
        <h1>Orders</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Orders</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Order Details</td>
                    <td>Neil Rowe</td>
                    <td>05/05/2020</td>
                    <td>233.78M</td>
                </tr>             
            </tbody>
        </table>
    </div>
</body>
</html>

