@page "{id}"
@model ECommerceApp.Pages.Product.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Delete Confirmation</h1>
<div class="alert alert-danger">
    <h4>Are you sure you want to delete cart item</h4>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Store/Cart">No</a>
    </form>
</div>



