@page "{id:int?}"
@model ECommerceApp.Pages.Product.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="StyleSheet.css" />
    <title>Service Details</title>
</head>
<body>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="container" id="product-section">
        <div class="row">
            <div class="col-md-6">
                <img src=@Model.inventory.Image
                     class="image-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>@Model.inventory.ServiceType</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>@Model.inventory.Description</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>@Model.inventory.Duration</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>@Model.inventory.Price</p>
            </div>
        </div>
    </div><!-- end container -->
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"
            integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</body>
</html>