@page "{id:int?}"
@model ECommerceApp.Pages.Product.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}


<body style="margin-top:110px">
    <div class="container" id="product-section">
    <h2 style="text-align:center;">Service Details</h2>
        <div class="row" style="margin-top:20px; margin-top: 20px; margin-left: 42px;">
            <div class="col-md-6">
                <div class="card text-center" style="width: 30rem;">
                    <img class="card-img-top" src=@Model.inventory.Image alt="Service-Image" />
                    <div class="card-body">
                        <h5 class="card-title">@Model.inventory.ServiceType</h5>
                        <button type="button" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">@Model.inventory.Description</p>
                        <p class="card-text">Duration: @Model.inventory.Duration</p>
                        <p class="card-text">Price: $@Model.inventory.Price</p>
                            <form asp-action="Create">
                                <div class="box-body">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PurchaseVerificationModal">
                                        Purchase
                                    </button>
                                </div>
                            </form>
                            <!-- Modal -->
                            <div class="modal" id="PurchaseVerificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Purchase @Model.inventory.ServiceType for $@Model.inventory.Price? One of our chiropractors will call the number you have provided to schedule an appointment.</p>
                                        </div>
                                        <div class="modal-footer" style="text-align:center">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <button type="button" class="btn btn-primary">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div><!-- end container -->
</body>

